Package: docfetcher
Version: @VERSION@
Section: utils
Priority: optional
Architecture: all
Maintainer: Tran Nam Quang <qforce@users.sourceforge.net>
Depends: sun-java5-jre | sun-java6-jre | java2-runtime
Homepage: http://docfetcher.sourceforge.net
Description: Find documents that contain specific keywords
 DocFetcher is a desktop search application: It allows you to quickly access documents on your computer by typing keywords. - You can think of it as Google for your local document repository.
 .
 The program runs on GTK-based desktop environments (e.g. GNOME). It is recommended to use the Java Runtime Environments from Sun instead of alternative implementations, both for compatibility and performance reasons.
 .
 For more information, visit: http://docfetcher.sourceforge.net
